@model List<CartItemViewModel>
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @if (!Model.Any())
                {
                    <p>Your cart is empty.</p>
                }
                else
                {
                    <div id="cart-container">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="li-product-remove">remove</th>
                                        <th class="li-product-thumbnail">images</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="li-product-price">Unit Price</th>
                                        <th class="li-product-quantity">Quantity</th>
                                        <th class="li-product-subtotal">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="li-product-remove"><a asp-action="Remove" asp-route-id="@item.ProductId"><i class="fa fa-times"></i></a></td>
                                            <td class="li-product-thumbnail"><a href="#"><img src="images/product/small-size/5.jpg" alt="Li's Product Image"></a></td>
                                            <td class="li-product-name"><a href="#">@item.ProductName</a></td>
                                            <td class="li-product-price"><span class="amount">$@item.Price</span></td>
                                            <td class="quantity">
                                                <label>Quantity</label>
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" value="@item.Quantity" onchange="onQuatityChange(@item.ProductId,this)" min="1" type="number">
                                                    <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                    <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                                </div>
                                            </td>
                                            <td class="product-subtotal"><span class="amount">$@item.Total</span></td>
                                        </tr>
                                    }
                                </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                
                                <div class="coupon2">
                                        <a class="button btn btn-dark" name="Clear_cart" asp-action="Clear">Clear cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                        <li>Subtotal <span>$@Model.Sum(x => x.Total)</span></li>
                                        <li>Total <span>$@Model.Sum(x => x.Total)</span></li>
                                </ul>
                                    <a asp-controller="Checkout" asp-action="Index">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function onQuatityChange(productId,ele)
    {
        let el= $(ele).val();
        alert();
        $.ajax({
        url: '/Cart/Update',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ id: productId, quantity: quantity })
    });
    }
</script>