@{
    ViewData["Title"] = "Category";
    Layout = "_LayoutAdmin";
}

<div>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Category">Category Product</a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Category</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="productsTable" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th> 
                        <th>Active</th>
                        <th>Created At</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#productsTable').DataTable({
            ajax: {
                url: '/Category/GetAll',
                dataSrc: ''
            },
            columns: [
                { data: 'name' }, 
                { data: 'isActive',
                  render: function(data) {
                      return data ? 'Yes' : 'No';
                  }
                },
                { data: 'createdAt',
                  render: function(data) {
                      return new Date(data).toLocaleDateString();
                  }
                }
            ],
            pageLength: 10,
            responsive: true
        });
    });
</script>
